[main]
name = John Doe
url_base = yourscriptdomain.com
logfile = log/email_feed.log
rss_base = email_feed
[imap]
mailbox = mail.yourdomain.com
webmail = https://%(mailbox)s
user = email@yourdomain.com
password = mooltipass
